.list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.item {
  margin-bottom: 10px;
}

.label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
}

.percentage {
  font-size: 18px;
  font-weight: bold;
}
